# exclude truffle build folder
build/

# npm cache
.cache/
.config/
.npm/

# Node server was an initial directory for experiment
node-server/

# exclude Drizzle npm node_modules
webapp/node_modules
node-server/node_modules

# exclude truffle build generation, truffle compile should
# be run after a fresh clone
webapp/Project.json
webapp/Drop.json
custom-scaffold/public/contract-interface/Drop.json
custom-scaffold/public/contract-interface/Project.json

# exclude vi swap files
*.swp

# exclude credential file for Atlassian
custom-scuffold/credential.json
