<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.17/css/aui.min.css" media="all">
    <!-- <script src="https://ac-getting-started.atlassian.net/atlassian-connect/all.js"></script> -->
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.17/js/aui.min.js"></script>

	<!-- Web3, JQuery and Users addresses imports -->
	<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://7207d407dee7.ngrok.io/js/userModule.js"></script>
	<script src="https://7207d407dee7.ngrok.io/js/constants.js"></script>
	<script>
	

	/* 
	 * Variables and constants 
	*/

	// TODO	I wanted to import _all_ the ngrok URI from a single
	//		file `constants.js`, but I need to explicitly mention 
	//		the ngrok URI in the above script src property because
	//		the constant.js file itself is served through ngrok.
	//		The irony. 

	// TODO ProjectList contract is currently hardcoded, but still part 
	// of truffle migrate, ideally we should store the address of this
	// contract once deployed somewhere for the system to retrieve.
	// Maybe not an issue as this contract is intended to stay fixed, need
	// further thoughts.
	//	var prjListContractAddress = "0xA498730423825C107497E491b6C8Bca67BF65e0B";
	var prjListContractAddress = constants.getProjectListAddress();
	var ngrokUri = constants.getNgrokURI();	
	console.log("Read global ProjectList contract address: ", prjListContractAddress);

	
	// Full URI of the geth RPC node
	// var providerURI = "http://172.18.0.2:8545";
	// https://aa8383e95fb1.ngrok.io
	var providerURI = "wss://" + ngrokUri + "/ws-rpc";
	//var contractAbiURI = "http://127.0.0.1:8000/Project.json";
	var contractAbiURI = "https://" + ngrokUri + "/contract-interface/Project.json";
	var drpContractAbiURI = "https://" + ngrokUri + "/contract-interface/Drop.json";
	var prjListContractIntURI = "https://" + ngrokUri + "/contract-interface/ProjectList.json"
	
	// Entire JSON interface for used contracts
	// TODO 1 not efficient, some data is redundant
	var prjContractInterface = "" 
	
	var contractAbi = "";
	var prjListContractAbi = "";
	var contractAddress = "";
	var drpContractAddress = "";

	var userAccount = "";
	var Project;

	/*
	 * Retrieve the contracts JSON interfaces and their ABI
	*/

	$.ajax({
	    url: contractAbiURI,
	    dataType: 'json',
	    async: false,
	    success: function(json){
	        // TODO 1.1
	        prjContractInterface = json;
	        contractAbi = json.abi;
	    },
	    error: function() {
	        alert("Not possible to retrieve contract JSON interface");
	    }
	});

	$.ajax({
	    url: drpContractAbiURI,
	    dataType: 'json',
    	async: false,
	    success: function(json){
        	drpContractAbi = json.abi;
    	},
	    error: function() {
        	alert("Not possible to retrieve contract JSON interface");
    	}
	});

	$.ajax({
        url: prjListContractIntURI,
        dataType: 'json',
        async: false,
        success: function(json){
            prjListContractAbi = json.abi;
        },
        error: function() {
            alert("Not possible to retrieve contract JSON interface");
        }
    });


	/*
	 * Connect web3 to provider, using Metamask first, if not direct WS connection to local geth node
	*/


	// Old way, connect directly to geth
	/*
	const web3 = new Web3( Web3.givenProvider || new Web3.providers.WebsocketProvider(providerURI,
	    {
	      headers: [{
	        name: 'Access-Control-Allow-Origin',
	        value: 'ngrok.io'
	      }]
	    }
	));
	*/

	// Use Metamask provide, post 2020 way

	if (window.ethereum) {
		console.log("Metamask seems available. Proceeding...")
		web3 = new Web3(window.ethereum);
		window.ethereum.enable();
	} else {
		console.log("ERR Metamask not available")
	}

	const provider = web3.currentProvider;
	provider.on("connect", function(){
	    console.log("Web3 WebSocket provider connected.")
	});
	provider.on("error", function(error){
	    console.error("Problem Websocket provider connection: " + error)
	});
	web3.eth.net.isListening( function(error, result)  {
	    if(error) {
	        console.error(error);
	    } else {
	        console.log("Websocket provider is listening.")
    	}
	})

/*
	var web3 = new Web3(
	    new Web3.providers.WebsocketProvider(
    	providerURI,
	    {
	      headers: [{
	        name: 'Access-Control-Allow-Origin',
	        value: 'ngrok.io'
	      }]
	    }
	  )
	);
*/
	AP.user.getCurrentUser(function(user) {
        console.log("The Atlassian Account ID is", user.atlassianAccountId);
        userAccount = this.userModule.getUserAddress(user.atlassianAccountId);
        console.log("The corresponding address is", userAccount);

        /*
        * Retrieve current Project address from contract ProjectList
        */

        var ProjectList = new web3.eth.Contract(prjListContractAbi, prjListContractAddress, {from: userAccount});
		ProjectList.methods.getProjectAddress( {{prjId}} ).call( {from: userAccount} )
			.then( function(result){

				/*
				* Create JS Project contract instance
				*/

				if(userAccount != "") {
		            Project = new web3.eth.Contract(contractAbi, result, {from: userAccount});
					contractAddress = result;
					console.log("Project instance created. Address: ", contractAddress);
		        } else {
		            console.log("The userAddr is not available yet, failed Project contract creation in JS.");
		        }

			});

    });


	</script>


  </head>
  <body class="aui-page-focused aui-page-focused-xlarge">
    <div id="page" class="ac-content">
      <section id="content">
        <header class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              <p id="custom-message">This is an example WebPanel view for Issue ID: {{id}}.</p>
				<input type="hidden" id="start-task-id" value="{{id}}" >
				<input id="start-task-deposit" value="5" type="hidden" >
		        <input id="start-task-sender" value="" type="hidden" >
				<button id="start-task" class="aui-button">Accept assignment</button>
				<img id="done" src='https://www.shareicon.net/data/128x128/2017/02/24/879486_green_512x512.png' width="20" style="visibility: hidden; margin: 0px" />

			  </div>
          </div>
        </header>
      </section>
    </div>

	<script>
	$("#start-task").click( function() {
    	tid = {{id}};
	    deposit = $("#start-task-deposit").val();
		console.log("About to call Project.startWorkingOnTask("+ tid +") from: " +  userAccount + " with a deposit of " + deposit);

	    Project.methods.startWorkingOnTask(tid).send({value: deposit})
	        .on('receipt', function(receipt) {
	            console.log("starWorkingOnTask() receipt received");
	            // $('#console').append("<p>Tx #: " + receipt.transactionHash + "</p>");
	            console.log("Gas used: " + receipt.gasUsed);
				$("#done").show();
	        })
	        .on('error', function(error){
	            console.log("starWorkingOnTask() error: "+ error);
	        })
		});
	
	</script>

  </body>
</html>
